body{
    background-color: #525252;
}

.myFormHello{
    padding-top: 60px!important;
}

.navbar{
    margin-bottom: 0px!important;
}
.panel-heading{
    text-align: center;
}
.centered-form .panel{
    background: rgba(255, 255, 255, 0.8);
    box-shadow: rgba(0, 0, 0, 0.3) 20px 20px 20px;
}


.labels tr td {
    /*background-color: #5cc2deb0;*/
    background-color: #91bfde;
    /*background-color: #879096;*/
    font-weight: bold;
    text-transform: uppercase;
    color: #070f19;
}

.label tr td label {
    display: block;
}


[data-toggle="toggle"] {
    display: none;
}
