<div class="modal fade" id="delete-file-modal" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel"><fmt:message key="confirm.message.delete"/></h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<form class="form-horizontal" method="post" id="delete_form">
				<div class="modal-footer">
					<button  data-dismiss="modal" class="btn btn-danger"  id="confirm-delete-button">
						<fmt:message key="button.delete"/>
					</button>
					<button data-dismiss="modal" class="btn btn-default" name="in_confirm_insert" id="cancel-delete-button"><fmt:message key="button.cancel"/></button>
				</div>
			</form>
		</div>
	</div>
</div>