<%--=========================================================================== 
Footer (bottom area). 
===========================================================================--%>


<tr>
	<td id="footer">&copy;TimeController by Kate Kolokhina, 2021</td>
</tr>