<%--=========================================================================== 
Header (top area). 
===========================================================================--%> 

<%@ page import="ua.kolokhina.timeController.Role" %>
<%@ include file="/WEB-INF/jspf/directive/page.jspf" %>
<%@ include file="/WEB-INF/jspf/directive/taglib.jspf" %>
<%@ taglib uri="https://kolokhina.com" prefix="mytags"%>

<header>

	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<c:if test="${(not empty userRole) and (not empty user)}">
			<a class="navbar-brand" href="#"><mytags:userInfo user="${user}" role="${userRole}"/></a>
		</c:if>
		<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
			<div class="navbar-nav">
				<c:if test="${not empty user}">
					<c:choose>
						<c:when test="${userRole.name == 'admin' }">
							<a href="controller?command=listAccounts" class="nav-item nav-link">
								<fmt:message key="header_jspf.anchor.accounts"/>
							</a>&nbsp;
							<a href="controller?command=activitiesAdmin" class="nav-item nav-link">
								<fmt:message key="header_jspf.anchor.activities"/>

							</a>&nbsp;
							<a href="controller?command=requests" class="nav-item nav-link">
								<fmt:message key="header_jspf.anchor.requests"/>
							</a>
							<a href="controller?command=listCategories" class="nav-item nav-link">
								<fmt:message key="header_jspf.anchor.categories"/>
							</a>&nbsp;
						</c:when>

						<c:when test="${userRole.name == 'client'}">
							<a href="controller?command=listActivities" class="nav-item nav-link">
								<fmt:message key="header_jspf.anchor.activities"/>
							</a>
							<a href="controller?command=userActivities" class="nav-item nav-link">
								<fmt:message key="header_jspf.anchor.edit_activities"/>
							</a>
						</c:when>
					</c:choose>
					<a href="controller?command=viewSettings" class="nav-item nav-link">
						<fmt:message key="header_jspf.anchor.settings"/>
					</a>

					<a href="controller?command=logout" class="nav-item nav-link">
						<fmt:message key="header_jspf.anchor.logout"/>
					</a>
				</c:if>

					<c:if test="${empty user and title ne 'Login'}">
						<a href="login.jsp" class="nav-item nav-link">
							<fmt:message key="header_jspf.anchor.login"/>
						</a>

						<a href="registration.jsp" class="nav-item nav-link">
							<fmt:message key="header_jspf.anchor.registration"/>
						</a>
					</c:if>

			</div>
		</div>
	</nav>

</header>
